service: serverless

provider:
  name: aws
  runtime: nodejs6.10
  stage: dev
  region: us-west-2
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:PutObject
        - s3:PutObjectAcl
      Resource: arn:aws:s3:::beast-lambda/*

package:
  exclude:
    - node_modules/aws-sdk/**
    - node_modules/puppeteer/.local-chromium/**
    - node_modules/puppeteer/lib/**

functions:
  takeScreenshot:
    handler: takeScreenshot.handler
    timeout: 60
